@use "src/styles/variables";

.side-menu {
  position: fixed;
  width: 300px;
  height: 100%;
  z-index: 1000;
  background: #202020;
}

.side-menu .brand {
  margin-top: 0.3rem;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.menu-list {
  height: calc(100% - 82px);
  overflow-y: auto;
}

.menu-list::-webkit-scrollbar {
  width: .25em;
}

.menu-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.menu-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.close {
  position: absolute;
  left: 250px;
  top: 25px;
  height: 30px;
  width: 30px;
  color: variables.$white;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  cursor: pointer;
}

.menu {
  height: 100%;
}

.menu,
.sub-menu,
.sub-child-menu {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  position: relative;
}

.menu>li {
  cursor: pointer;
  border-top: 1px solid rgba(255, 255, 255, .1);
}

.menu>li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.sub-menu li,
.sub-child-menu li {
  border-top: 1px solid rgba(255, 255, 255, .1);
  cursor: pointer;
}

.menu>li>a,
.sub-menu>li>a,
.sub-child-menu>li>a {
  text-decoration: none;
  color: variables.$white;
  font-size: 15px;
  line-height: 45px;
  padding-left: 15px;
  display: block;
}

.menu>li>a fa-icon,
.sub-menu>li>a fa-icon,
.sub-child-menu>li>a fa-icon {
  position: absolute;
  right: 20px;
}

.menu li:hover>a {
  color: variables.$dodger-blue;
}

@media only screen and (min-width: 1200px) {
  .side-menu {
    display: none;
  }
}

.login {
  outline: 0;
  border: 0;
  padding: 10px 0px 10px 0px !important;
  border-radius: 5px;
  font-size: 16px !important;
  color: variables.$white;
  background-color: variables.$dodger-blue;
  border: 2px solid variables.$dark-gun-metal;
  width: 100%;
}

.follow-us {
  list-style: none;
  padding: 0;
  display: inline-flex;
}

.follow-us > li > fa-icon {
  font-size: 1.2rem;
}
