<div class="height"></div>
<div class="carousel">
  <div class="carousel-left">
    <fa-icon [icon]="faAngleLeft" class="color-{{theme.primaryColor}}" (click)="slidePrev()"></fa-icon>
  </div>
  <div class="carousel-list">
    <div class="carousel-item carousel-item-visible">
      <div class="container-fluid m-0 banner position-relative">
        <div class="container-fluid m-0 p-0 background position-absolute"></div>
        <div class="container main">
          <form [formGroup]="searchForm">
            <div class="banner-title text-center">
              <h6 class="{{lang}} d-inline-flex">{{'Discover Anything, Anywhere' | translate: lang }}.
              </h6>
              <br/>
              <h2 class="color-white mt-3 en">Find great places to stay,
                eat, shop, buy, visit and many more.</h2>
            </div>
            <div class="banner-search container-fluid m-0 p-0">
              <div class="row">
                <div class="col-lg-12 col-md-5 col-sm-12 p-0 border-1px-bright-gray">
                  <div class="form-group">
                    <div class="banner-search-select">
                      <auto-complete [id]="'search'" [placeHolder]="'Search...'" [fontSize]="'1.3rem'" [icon]="faSearch"
                                     [iconSize]="'16px'" [items]="filteredLocation" [key]="'id'" [value]="'nme'">
                      </auto-complete>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-5 col-md-10 col-sm-12 p-0 border-1px-bright-gray">
                  <div class="form-group">
                    <div class="banner-search-select">
                      <auto-complete [id]="'location'" [placeHolder]="'Location...'" [fontSize]="'1.3rem'"
                                     [icon]="faSearch" [iconSize]="'16px'" [items]="filteredLocation" [key]="'id'"
                                     [value]="'nme'">
                      </auto-complete>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 col-md-10 col-sm-12 p-0 border-1px-bright-gray">
                  <div class="form-group">
                    <div class="banner-search-select">
                      <auto-complete [id]="'category'" [placeHolder]="'Category...'" [fontSize]="'1.3rem'"
                                     [icon]="faSearch" [iconSize]="'16px'" [items]="filteredCategory" [key]="'id'"
                                     [value]="'nme'">
                      </auto-complete>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 p-0 border-1px-bright-gray">
                  <div class="form-group">
                    <div class="banner-search-button">
                      <input type="button" value="{{'SearchButton' | translate: lang}}"
                             class="{{lang}} bg-color-{{theme.secondaryColor}} color-{{theme.teritaryColor}}"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div *ngFor="let carousel of carouselList" class="carousel-item">
      <img [src]="carousel.imgPath"/>
    </div>
  </div>
  <div class="carousel-right">
    <fa-icon [icon]="faAngleRight" class="color-{{theme.primaryColor}}" (click)="slideNext()"></fa-icon>
  </div>
  <div class="carousel-dot"></div>
</div>
<div class="category py-5 bg-color-cultured">
  <div class="container">
    <div class="row my-5">
      <div class="col-lg-8 offset-lg-2">
        <div class="text-center">
          <h2 class="color-{{theme.primaryColor}}">Discover</h2>
          <h1>{{'Most Popular Categories' | translate: lang}}</h1>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div *ngFor="let category of filteredCategory" class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
        <div class="bg-white text-center rounded-xl shadow-sm p-4">
          <div class="py-2 mt-1">
            <img [src]="category.logoPath" alt="icon" width="35" height="35"/>
          </div>
          <h6 class="font-weight-700">{{category.nme}}</h6>
          <div class="">
            <p>{{category.subCategoryCount}} Listings</p>
          </div>
        </div>
        <div class="height-30px"></div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid m-0 p-0"></div>
