@use "styles/variables";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meera+Inimai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "styles/import";

body {
  font-family: 'Poppins', sans-serif !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: variables.$white;
}

body::-webkit-scrollbar {
  width: .25em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.en {
  font-family: "Poppins", sans-serif !important;
}

.ta {
  font-family: 'Meera Inimai', sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.margin-top-82px {
  margin-top: 82px !important;
}

.dark-header {
  background: variables.$yankees-blue;
}

.outline-0 {
  outline: 0;
}

.font-size-16px {
  font-size: 16px;
}

html,
body {
  height: 100%;
}

.background-color-theme {
  background-color: variables.$dodger-blue;
}

.border-radius-4px {
  border-radius: 4px;
}

.p-dropdown {
  width: 100% !important;
  font-family: 'Poppins', sans-serif !important;
}

.p-dropdown-label,
.p-dropdown-item {
  font-family: 'Poppins', sans-serif !important;
}

label {
  color: variables.$black;
}

.success {
  color: variables.$dark-green;
}

.warn {
  color: variables.$orange;
}

.error {
  color: variables.$red;
}

.p-tabview-panels {
  padding: 0 !important;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: variables.$white;
  border-color: variables.$dodger-blue;
  color: variables.$dodger-blue;
}

//Themes
.color-dodger-blue {
  color: variables.$dodger-blue;
}

.color-sunshine {
  color: variables.$sunshine;
}

.background-color-dodger-blue {
  background-color: variables.$dodger-blue;
}

.background-color-sunshine {
  background-color: variables.$sunshine;
}

//Dark Mode
.dark-background {
  background-color: variables.$yankees-blue;
}

.light-background {
  background-color: variables.$white;
}

.object-fit-fill {
  object-fit: fill !important;
}
