<div class="height-112px"></div>
<div [ngBusy]="{busy: busyLoading, message: 'Loading...'}"></div>
<div [ngBusy]="{busy: busyDeleting, message: 'Deleting...'}"></div>
<p-confirmDialog #cd [style]="{width: '50vw'}" header="Confirmation" icon="pi pi-exclamation-triangle">
  <ng-template pTemplate="footer">
    <button type="button" pButton icon="pi pi-times p-danger" label="No" (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check p-success" label="Yes" (click)="cd.accept()"></button>
  </ng-template>
</p-confirmDialog>
<div class="container-fluid about bg-color-white p-5 pt-3">
  <div class="row height-100px align-items-center ms-0">
    <h2 class="ps-2 color-black m-0">Advertisement - Home - Ad Carousel Search</h2>
    <nav style="margin-top: -18px;
    padding-left: 0.6rem !important;" aria-label="breadcrumb" class="ps-3">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="home" style="text-decoration: none;">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Ad Carousel</li>
      </ol>
    </nav>
  </div>
  <div class="row p-0 m-0 border-1px-light-gray box-shadow-normal height-50px line-height-50px">
    <div class="col-xl-6 col-lg-6 col-md-12 ps-2 height-100per">
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 pe-2 text-right height-100per line-height-44px">
      <button class="btn bg-color-theme color-white ps-5 pe-5 me-1">
        <a routerLink="../city/0" class="color-white text-decoration-none" target="_blank">Add</a>
      </button>
    </div>
  </div>
  <div class="row p-0 m-0">
    <div class="container-fluid border-1px-light-gray box-shadow-normal p-3">
      <form [formGroup]="adHomeCarouselSearchForm">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12">
            <label for="categoryId" class="color-black">Category</label>
            <p-dropdown id="categoryId" [options]="categoryList" optionLabel="nme" optionValue="id"
                        class="d-flex width-100per" formControlName="categoryId" placeholder="Select Category">
            </p-dropdown>
            <div *ngIf="submitted && adHomeCarouselSearchForm.controls['categoryId'].errors" class="mt-1">
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12">
            <label for="subCategoryId" class="color-black">Sub Category</label>
            <p-dropdown id="subCategoryId" [options]="subCategoryList" optionLabel="nme" optionValue="id"
                        class="d-flex width-100per" formControlName="subCategoryId" placeholder="Select Sub Category">
            </p-dropdown>
            <div *ngIf="submitted && adHomeCarouselSearchForm.controls['subCategoryId'].errors" class="mt-1">
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-xl-6 col-lg-6 col-md-12">
            <label for="businessId" class="color-black">Business</label>
            <p-dropdown id="businessId" [options]="businessList" optionLabel="nme" optionValue="id"
                        class="d-flex width-100per" formControlName="businessId" placeholder="Select Business">
            </p-dropdown>
            <div *ngIf="submitted && adHomeCarouselSearchForm.controls['businessId'].errors" class="mt-1">
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12">
            <label for="active" class="color-black">Active</label>
            <p-dropdown id="active" [options]="yesOrNoList" optionLabel="nme" optionValue="id"
                        class="d-flex width-100per" formControlName="active" placeholder="Select Active">
            </p-dropdown>
            <div *ngIf="submitted && adHomeCarouselSearchForm.controls['active'].errors" class="mt-1">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row p-0 m-0 border-1px-light-gray box-shadow-normal height-50px line-height-50px">
    <div class="col-xl-6 col-lg-6 col-md-12 ps-2 height-100per">
      <h6 *ngIf="showAlert" class="line-height-40px {{alert.type}}">{{alert.msg}}</h6>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 pe-2 text-right height-100per line-height-44px">
      <button class="btn bg-color-theme color-white ps-5 pe-5 me-1" (click)="search()">
        Search
      </button>
      <button class="btn bg-color-theme color-white ps-5 pe-5" (click)="reset()">
        Reset
      </button>
    </div>
  </div>
  <div class="row p-0 m-0 border-1px-light-gray box-shadow-normal">
    <p-table [value]="cityList" styleClass="p-datatable-gridlines" class="p-0" responsiveLayout="scroll"
             [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             [rowsPerPageOptions]="[10,25,50]">
      <!--<ng-template pTemplate="caption">
          Header
      </ng-template>-->
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="nme">Name
            <p-sortIcon field="nme"></p-sortIcon>
          </th>
          <th>District</th>
          <th>Active</th>
          <th style="width: 100px;">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-city>
        <tr>
          <td><a routerLink='/admin/city/{{city.id}}' target="_blank">{{city.nme}}</a></td>
          <td>{{getDistrictName(city.districtId)}}</td>
          <td>{{city.active ? "Yes" : "No"}}</td>
          <td style="width: 100px;cursor:pointer" class="text-center cursor-pointer">
            <fa-icon [icon]="faTrash" (click)="delete(city)"></fa-icon>
          </td>
        </tr>
      </ng-template>
      <!--<ng-template pTemplate="summary">
          Footer
      </ng-template>-->
    </p-table>
  </div>
</div>
