<div class="height"></div>
<div class="container-fluid about bg-color-white dark-header">
  <div class="row align-items-center text-center pt-5 pb-5 gap-4 background-about position-relative">
    <div class="width-100per height-100per position-absolute p-0 bg-color-black-layer"></div>
    <h1
      class="ps-2 color-{{theme.teritaryColor}} m-0 text-uppercase z-index-998 font-size-2_5rem pb-2 {{lang}}">{{'About Us' | translate: lang}}</h1>
    <nav style="margin-top: -18px;
    padding-left: 0.6rem !important;" aria-label="breadcrumb" class="ps-3">
      <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item text-uppercase z-index-998 color-{{theme.primaryColor}}"><a href="home"
                                                                                               style="text-decoration: none;"
                                                                                               class="color-{{theme.primaryColor}} font-size-1-4rem {{lang}}">Home</a>
        </li>
        <li
          class="breadcrumb-item text-uppercase active z-index-998 color-{{theme.teritaryColor}} font-size-1-4rem {{lang}}"
          aria-current="page">About Us
        </li>
      </ol>
    </nav>
  </div>
  <div class="row card box-shadow-normal">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-12 col-md-12 color-black">
          <p class="font-size-1-2rem">"Ungal Thedal" (Your Search) is a website provides local search for different
            services in all over India, starting with Tamilnadu and gradually adds new locations and services. Not only
            website, mobile application also in progress of development by the team.</p>
          <p class="font-size-1-2rem">Main purpose of this website is local search for most of the hand picked
            categories, all comes under daily needs.</p>
          <p class="font-size-1-2rem">Other than local search, any company in need of advertising, they can use this as
            a platform to represent them or their products. Features will be included are Blogs, Movie Reviews, Sales
            and Advertisements, etc.,</p>
          <p class="font-size-1-2rem">This website is owned by Uthra Technologies, a start up internet technology based
            company located in Tiruppur, working on this as a first project with minimal technical resources as a
            backbone.</p>
        </div>
      </div>
    </div>
  </div>
</div>
