@use "src/styles/variables";

.icon {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.icon:hover {
  border: 1px solid variables.$dodger-blue;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.span {
  display: block;
  position: relative;
  width: 100%;
  height: 42px;
}

.span span {
  padding: 0.5rem;
  line-height: 42px;
}

.button {
  display: flex;
  height: 42px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: transparent;
  color: #6c757d;
  width: 2.357rem;
  border-left: none;
}

.list {
  position: absolute;
  top: 100%;
  width: 100%;
  max-height: 150px;
  padding: 0;
  margin-left: 0px;
  z-index: 999;
  background-color: variables.$white;
  border: 3px solid variables.$bright-gray;
  overflow-x: hidden;
  overflow-y: auto;
  display: inline;
  box-shadow: rgb(0 0 0 / 20%) 0px 5px 5px -3px, rgb(0 0 0 / 14%) 0px 8px 10px 1px, rgb(0 0 0 / 12%) 0px 3px 14px 2px;
}

.item {
  display: inline-block;
  padding: 0.5rem;
  width: 40px;
  height: 40px;
  text-align: center;
  position: relative;
}

.item img {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.item:hover {
  background-color: variables.$bright-gray;
}
