<div [ngBusy]="{busy: busyLogin, message: 'Logging In...'}"></div>
<div class="container-fluid m-0 p-0 login en">
  <div class="row height-100per justify-content-center">
    <div class="col-xl-6 col-lg-6 col-md-12 left p-0 height-100per m-0">
      <!--<video #loginVideo class="object-fit-fill" width="100%" height="100%" autoplay muted loop>
        <source src="assets/videos/login.mp4">
      </video>-->
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 right p-5 height-100per m-0">
      <h2 class="text-uppercase mt-4 color-{{theme.primaryColor}}">Login</h2>
      <form [formGroup]="loginForm" autocomplete="off">
        <div class="container-fluid m-0 p-0">
          <div class="row pt-5">
            <div class="col-xl-12 col-lg-12 col-md-12 position-relative">
              <label *ngIf="useEmail"
                     class="text-uppercase d-inline-block">Email <h6
                class="d-inline-block font-size-13px m-0 position-absolute" style="top: 6px;
    left: 80px;">(Use <span class="text-decoration-underline color-{{theme.primaryColor}} cursor-pointer"
                            (click)="changeEmailOrMobile()">Mobile</span> Instead)</h6></label>
              <label *ngIf="!useEmail"
                     class="text-uppercase">Mobile <h6 class="d-inline-block font-size-13px m-0 position-absolute"
                                                       style="top: 6px;
    left: 95px;">(Use <span class="text-decoration-underline color-{{theme.primaryColor}} cursor-pointer"
                            (click)="changeEmailOrMobile()">Email</span> Instead)</h6></label>
              <input *ngIf="useEmail" type="text" placeholder="Enter Email" formControlName="email"
                     class="form-control mt-2"/>
              <div *ngIf="!useEmail" class="pt-2 d-flex">
                <select class="form-select width-80px" formControlName="countryCde">
                  <option *ngFor="let country of countryList" value="{{country.mobileCde}}">{{country.cde}}</option>
                </select>
                <input type="text" placeholder="Enter Mobile Number" formControlName="mobile"
                       class="form-control" mask="0999999999" [patterns]="customMobilePattern"/>
              </div>
              <div *ngIf="submitted && loginForm.controls['mobile'].errors" class="mt-1 color-red">
                <div
                  *ngIf="loginForm.controls['mobile'].errors['required']">{{loginForm.controls['mobile'].errors['msg']}}
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-xl-12 col-lg-12 col-md-12">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 d-flex">
                  <label class="text-uppercase">Password</label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 d-flex justify-content-end align-items-end">
                  <h6 class="text-uppercase m-0"><a class="color-{{theme.primaryColor}}"
                                                    routerLink="../forgot-password">Forgot Password?</a>
                  </h6>
                </div>
              </div>
              <input type="password" placeholder="Enter Password" formControlName="password"
                     class="form-control mt-2"/>
              <div *ngIf="submitted && loginForm.controls['password'].errors" class="mt-1 color-red">
                <div *ngIf="loginForm.controls['password'].errors['required']">Password is required
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-xl-12 col-lg-12 col-md-12">
              <input type="button" value="Login"
                     class="form-control mt-2 bg-color-{{theme.secondaryColor}} text-uppercase"
                     (click)="login()"/>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-xl-12 col-lg-12 col-md-12">
              <h6 class="text-uppercase mt-3">Don't have an account? <a class="color-{{theme.primaryColor}}"
                                                                        routerLink="../register">Register</a>
              </h6>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-xl-12 col-lg-12 col-md-12">
              <h6 class="text-uppercase mt-1">Want to go? <a class="color-{{theme.primaryColor}}"
                                                             routerLink="../home">Home</a>
              </h6>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-xl-12 col-lg-12 col-md-12">
              <h6 *ngIf="!showAlert" class="line-height-40px {{alert.type}}">{{alert.msg}}</h6>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
