<div class="height"></div>
<div [ngBusy]="{busy: busyLoading, message: 'Loading...'}"></div>
<div [ngBusy]="{busy: busyDeleting, message: 'Deleting...'}"></div>
<p-confirmDialog #cd [style]="{width: '50vw'}" header="Confirmation" icon="pi pi-exclamation-triangle">
  <ng-template pTemplate="footer">
    <button type="button" pButton icon="pi pi-times p-danger" label="No" (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check p-success" label="Yes" (click)="cd.accept()"></button>
  </ng-template>
</p-confirmDialog>
<div class="container-fluid region-search bg-color-white p-0">
  <div class="row align-items-center text-center pt-5 pb-5 gap-4 background-about position-relative">
    <div class="width-100per height-100per position-absolute p-0 bg-color-black-layer"></div>
    <h1
      class="ps-2 color-{{theme.teritaryColor}} m-0 text-uppercase z-index-998 font-size-2_5rem pb-2 {{lang}}">{{'Region - Search' | translate: lang}}</h1>
    <nav style="margin-top: -18px;
    padding-left: 0.6rem !important;" aria-label="breadcrumb" class="ps-3">
      <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item text-uppercase z-index-998 color-{{theme.primaryColor}}"><a href="home"
                                                                                               style="text-decoration: none;"
                                                                                               class="color-{{theme.primaryColor}} font-size-1-4rem {{lang}}">{{'Home' | translate: lang }}</a>
        </li>
        <li
          class="breadcrumb-item text-uppercase active z-index-998 color-{{theme.teritaryColor}} font-size-1-4rem {{lang}}"
          aria-current="page">{{'Region - Search' | translate: lang}}
        </li>
      </ol>
    </nav>
  </div>
  <div class="row p-0 m-0 height-20px line-height-20px"></div>
  <div class="row p-0 m-0">
    <div class="container-fluid p-3">
      <div class="row p-0 m-0 height-30px line-height-30px">
        <div class="col-xl-6 col-lg-6 col-md-12 ps-2 height-100per">
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 pe-2 text-right height-100per line-height-44px">
          <button class="btn bg-color-{{theme.secondaryColor}} color-white btn-md">
            <a routerLink="../region/0" class="color-white text-decoration-none" target="_blank">Add</a>
          </button>
        </div>
      </div>
      <form [formGroup]="regionSearchForm">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12">
            <label for="nme" class="color-black">Name</label>
            <input type="text" id="nme" formControlName="nme" class="form-control mt-0"
                   placeholder="Enter Name"/>
            <div *ngIf="submitted && regionSearchForm.controls['nme'].errors" class="mt-1">
              <div *ngIf="regionSearchForm.controls['nme'].errors['minlength']" class="color-red">Name
                should be 3 or
                more characters long.
              </div>
              <div *ngIf="regionSearchForm.controls['nme'].errors['maxlength']" class="color-red">Name
                should not be
                more than 60 characters long.
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12">
            <label for="active" class="color-black">Active</label>
            <p-dropdown id="active" [options]="yesOrNoList" optionLabel="nme" optionValue="id"
                        class="d-flex width-100per" formControlName="active" placeholder="Select Active">
            </p-dropdown>
            <div *ngIf="submitted && regionSearchForm.controls['active'].errors" class="mt-1">
            </div>
          </div>
        </div>
      </form>
      <div class="row p-0 m-0 mt-2 mb-2 height-50px line-height-50px">
        <div class="col-xl-6 col-lg-6 col-md-12 ps-2 height-100per d-flex align-items-center">
          <h6 *ngIf="showAlert" class="line-height-40px {{alert.type}} m-0">{{alert.msg}}</h6>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 pe-2 text-right height-100per line-height-44px d-flex align-items-center justify-content-end">
          <button class="btn bg-color-{{theme.secondaryColor}} color-white btn-md me-2" (click)="reset()">
            Reset
          </button>
          <button class="btn bg-color-{{theme.secondaryColor}} color-white btn-md" (click)="search()">
            Search
          </button>
        </div>
      </div>
      <div class="row p-0 m-0 border-1px-light-gray box-shadow-normal">
        <p-table [value]="regionList" styleClass="p-datatable-gridlines" class="p-0" responsiveLayout="scroll"
                 [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 [rowsPerPageOptions]="[10,25,50]">
          <!--<ng-template pTemplate="caption">
              Header
          </ng-template>-->
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="nme">Name
                <p-sortIcon field="nme"></p-sortIcon>
              </th>
              <th>Active</th>
              <th style="width: 100px;">Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-region>
            <tr>
              <td><a routerLink='/admin/region/{{region.id}}' target="_blank">{{region.nme}}</a></td>
              <td>{{region.active ? "Yes" : "No"}}</td>
              <td style="width: 100px;cursor:pointer" class="text-center cursor-pointer">
                <fa-icon [icon]="faTrash" (click)="delete(region)"></fa-icon>
              </td>
            </tr>
          </ng-template>
          <!--<ng-template pTemplate="summary">
              Footer
          </ng-template>-->
        </p-table>
      </div>
    </div>
  </div>
</div>
