@use "src/styles/variables";
@import "src/styles/bg-color";
@import "src/styles/colors";

.register {
  height: 100%;
  overflow: hidden;
}

.right {
  background-color: variables.$white;
  overflow-y: auto;
}

.right h2 {
  font-size: 3rem;
  text-align: center;
}

.right label {
  font-size: 1.2rem;
  color: variables.$black;
}

.right input[type="text"],
.right input[type="password"] {
  font-size: 1rem;
}

.right input[type="button"] {
  font-size: 1.3rem;
  color: variables.$white;
  border-radius: 5px;
}

.right a {
  text-decoration: none;
}

.right h6 {
  text-align: right;
}

.register::-webkit-scrollbar, .right::-webkit-scrollbar {
  width: .25em;
}

.register::-webkit-scrollbar-track, .right::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.register::-webkit-scrollbar-thumb, .right::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

@media all and (max-width: 576px) {
  .register {
    overflow-y: auto;
  }
  .left {
    display: none;
  }
  .right {
    width: 80%;
    height: 100%;
    margin: auto;
  }
}

@media all and (min-width: 576px) {
  .register {
    overflow-y: auto;
  }
  .left {
    display: none;
  }
  .right {
    width: 80%;
    height: 100%;
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  .register {
    overflow-y: auto;
  }
  .left {
    display: none;
  }
  .right {
    width: 80%;
    height: 100%;
    margin: auto;
  }
}

@media only screen and (min-width: 992px) {
  .register {
    overflow-y: auto;
  }
  .left {
    display: block;
    margin: auto;
  }
  .right {
    width: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  .register {
    overflow-y: auto;
  }
  .left {
    display: block;
    margin: auto;
  }
  .right {
    width: 50%;
  }
}
