@use "src/styles/variables";
@import "src/styles/colors";
@import "src/styles/bg-color";
@import "src/styles/text-align";
@import "src/styles/border";
@import "src/styles/border-radius";
@import "src/styles/width";

label {
  font-size: 1.2rem;
}

input[type="text"] {
  height: 42px !important;
}

.p-dropdown:focus,
input[type="text"]:focus,
input[type="text"]:hover,
input[type="password"]:hover {
  border: 1px solid variables.$dodger-blue !important;
}


