@use "variables";

.bg-color-black {
  background-color: variables.$black !important;
}

.bg-color-white {
  background-color: variables.$white !important;
}

.bg-color-dark-gun-metal {
  background-color: variables.$dark-gun-metal !important;
}

.bg-color-dark-green {
  background-color: variables.$dark-green !important;
}

.bg-color-yankees-blue {
  background-color: variables.$yankees-blue !important;
}

.bg-color-bright-gray {
  background-color: variables.$bright-gray !important;
}

.bg-color-light-gray {
  background-color: variables.$light-gray !important;
}

.bg-color-light-green {
  background-color: variables.$light-green !important;
}

.bg-color-sunshine {
  background-color: variables.$sunshine !important;
}

.bg-color-dodger-blue {
  background-color: variables.$dodger-blue !important;
}

.bg-color-red {
  background-color: variables.$red !important;
}

.bg-color-green {
  background-color: variables.$green !important;
}

.bg-color-orange {
  background-color: variables.$orange !important;
}

.bg-color-blue {
  background-color: variables.$blue !important;
}

.bg-color-indigo {
  background-color: variables.$indigo !important;
}

.bg-color-purple {
  background-color: variables.$purple !important;
}

.bg-color-pink {
  background-color: variables.$pink !important;
}

.bg-color-orange {
  background-color: variables.$orange !important;
}

.bg-color-yellow {
  background-color: variables.$yellow !important;
}

.bg-color-teal {
  background-color: variables.$teal !important;
}

.bg-color-cyan {
  background-color: variables.$cyan !important;
}

.bg-color-sky {
  background-color: variables.$sky !important;
}

.bg-color-navy {
  background-color: variables.$navy !important;
}

.bg-color-berry {
  background-color: variables.$berry !important;
}

.bg-color-rose {
  background-color: variables.$rose !important;
}

.bg-color-orchid {
  background-color: variables.$orchid !important;
}

.bg-color-blush {
  background-color: variables.$blush !important;
}

.bg-color-scarlet {
  background-color: variables.$scarlet !important;
}

.bg-color-carrot {
  background-color: variables.$carrot !important;
}

.bg-color-cetacean-blue {
  background-color: variables.$cetacean-blue !important;
}

.bg-color-denim {
  background-color: variables.$denim !important;
}

.bg-color-mango-tango {
  background-color: variables.$mango-tango !important;
}

.bg-color-celtic-blue {
  background-color: variables.$celtic-blue !important;
}

.bg-color-midnight-blue {
  background-color: variables.$midnight-blue !important;
}

.bg-color-boysenberry {
  background-color: variables.$boysenberry !important;
}

.bg-color-orchid {
  background-color: variables.$orchid !important;
}

.bg-color-button-blue {
  background-color: variables.$button-blue !important;
}

.bg-color-dark-sea-green {
  background-color: variables.$dark-sea-green !important;
}

.bg-color-razzmatazz {
  background-color: variables.$razzmatazz !important;
}

.bg-color-deep-lilac {
  background-color: variables.$deep-lilac !important;
}

.bg-color-wisteria {
  background-color: variables.$wisteria !important;
}

.bg-color-cultured {
  background-color: variables.$cultured !important;
}

.background-about, .background-contact {
  background-image: url("~src/assets/images/about/about-us.jpg");
  background-color: rgba(0,0,0,0.5);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-color-black-layer {
  background-color: rgba(0,0,0,0.7) !important;
}

