@use "variables";

.color-black {
  color: variables.$black !important;
}

.color-white {
  color: variables.$white !important;
}

.color-dark-gun-metal {
  color: variables.$dark-gun-metal !important;
}

.color-dark-green {
  color: variables.$dark-green !important;
}

.color-yankees-blue {
  color: variables.$yankees-blue !important;
}

.color-bright-gray {
  color: variables.$bright-gray !important;
}

.color-light-gray {
  color: variables.$light-gray !important;
}

.color-light-green {
  color: variables.$light-green !important;
}

.color-denim {
  color: variables.$denim !important;
}

.color-dodger-blue {
  color: variables.$dodger-blue !important;
}

.color-sunshine {
  color: variables.$sunshine !important;
}

.color-red {
  color: variables.$red !important;
}

.color-green {
  color: variables.$green !important;
}

.color-orange {
  color: variables.$orange !important;
}

.color-blue {
  color: variables.$blue !important;
}

.color-indigo {
  color: variables.$indigo !important;
}

.color-purple {
  color: variables.$purple !important;
}

.color-pink {
  color: variables.$pink !important;
}

.color-yellow {
  color: variables.$yellow !important;
}

.color-teal {
  color: variables.$teal !important;
}

.color-cyan {
  color: variables.$cyan !important;
}

.color-sky {
  color: variables.$sky !important;
}

.color-navy {
  color: variables.$navy !important;
}

.color-berry {
  color: variables.$berry !important;
}

.color-rose {
  color: variables.$rose !important;
}

.color-orchid {
  color: variables.$orchid !important;
}

.color-blush {
  color: variables.$blush !important;
}

.color-scarlet {
  color: variables.$scarlet !important;
}

.color-carrot {
  color: variables.$carrot !important;
}

.color-cetacean-blue {
  color: variables.$cetacean-blue !important;
}

.color-celtic-blue {
  color: variables.$celtic-blue !important;
}

.color-midnight-blue {
  color: variables.$midnight-blue !important;
}

.color-boysenberry {
  color: variables.$boysenberry !important;
}

.color-orchid {
  color: variables.$orchid !important;
}

.color-button-blue {
  color: variables.$button-blue !important;
}

.color-dark-sea-green {
  color: variables.$dark-sea-green !important;
}

.color-razzmatazz {
  color: variables.$razzmatazz !important;
}

.color-deep-lilac {
  color: variables.$deep-lilac !important;
}

.color-cultured {
  color: variables.$cultured !important;
}
