.height-20px {
  height: 20px;
}

.height-30px {
  height: 30px;
}

.height-40px {
  height: 40px;
}

.height-50px {
  height: 50px;
}

.height-60px {
  height: 60px;
}

.height-64px {
  height: 64px;
}

.height-72px {
  height: 72px !important;
}

.height-82px {
  height: 82px;
}

.height-100px {
  height: 100px;
}

.height-72px {
  height: 72px !important;
}

.height {
  height: 72px !important;
}

.height-127px {
  height: 127px;
}

.height-131px {
  height: 131px;
}

.height-150px {
  height: 150px;
}

.height-167px {
  height: 167px;
}

.height-190px {
  height: 190px;
}

.height-200px {
  height: 200px;
}

.height-100per {
  height: 100%;
}
