.line-height-37px {
  line-height: 37px !important;
}

.line-height-40px {
  line-height: 40px !important;
}

.line-height-44px {
  line-height: 44px !important;
}

.line-height-50px {
  line-height: 50px !important;
}

.line-height-60px {
  line-height: 60px !important;
}
