$black: #000000;
$white: #FFFFFF;

$dark-gun-metal: #191F2B;
$dark-green: #006400;
$yankees-blue: #1F263E;
$bright-gray: #ECECEC;

$light-gray: #CED4DA;
$light-green: #00FF00;

$celtic-blue: #3071CE;
$midnight-blue: #003E92;
$sunshine: #F78733;



$red: #E53935;
$green: #66BB6A;
$orange: #FF4500;
$blue: #2196F3;
$indigo: #1565C0;
$purple: #9C2760;
$pink: #F06292;
$orange: #FB8C00;
$yellow: #FBC02D;
$teal: #4DB6AC;
$cyan: #81D4FA;
$sky: #64B5F6;
$navy: #0D47A1;
$berry: #B71C1C;
$rose: #E91E63;
$orchid: #BA68C8;
$blush: #EF5350;
$scarlet: #D32F2F;
$carrot: #EF6C00;
$cetacean-blue: #000048;
$boysenberry: #901513;
$orchid: #edc5e1;
$denim: #1565c0;
$button-blue: #2196F3;
$dark-sea-green: #17B978;
$dodger-blue: #2196F3;
$razzmatazz: #E91E63;
$deep-lilac: #954fca;
$wisteria: #DCC4ED;
$cultured: #F7F7F7;
