.width-30px {
  width: 30px !important;
}

.width-40px {
  width: 40px !important;
}

.width-42px {
  width: 42px !important;
}

.width-44px {
  width: 44px !important;
}

.width-50px {
  width: 50px !important;
}

.width-64px {
  width: 64px !important;
}

.width-72px {
  width: 72px !important;
}

.width-80px {
  width: 80px !important;
}

.width-100px {
  width: 100px !important;
}

.width-210px {
  width: 210px !important;
}

.width-90per {
  width: 90% !important;
}

.width-94per {
  width: 94% !important;
}

.width-100per {
  width: 100% !important;
}

.width-230px {
  width: 230px !important;
}
