.width-30px {
  width: 30px !important;
}

.width-50px {
  width: 50px !important;
}

.width-64px {
  width: 64px !important;
}

.width-80px {
  width: 80px !important;
}

.width-100px {
  width: 100px !important;
}

.width-210px {
  width: 210px !important;
}

.width-90per {
  width: 90% !important;
}

.width-100per {
  width: 100% !important;
}
